name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    runs-on: [self-hosted, linux, aws, arm64, large]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.14'

      - uses: zenchef/actions/pre-commit@main
        env:
          SKIP: no-commit-to-branch
